html {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box; }

*, *:before, *:after {
 -webkit-box-sizing: inherit;
 -moz-box-sizing: inherit;
 box-sizing: inherit; }
 
 
@font-face {
  font-family: 'icomoon';
  src:  url('fonts2/icomoon.eot?8ogpc7');
  src:  url('fonts2/icomoon.eot?8ogpc7#iefix') format('embedded-opentype'),
    url('fonts2/icomoon.ttf?8ogpc7') format('truetype'),
    url('fonts2/icomoon.woff?8ogpc7') format('woff'),
    url('fonts2/icomoon.svg?8ogpc7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-compass2:before {
  content: "\e94a";
  position: absolute ;
  left: 7px ;
  font-size: 1.25em ;
}
.icon-clock:before {
  content: "\e94e";
   position: absolute ;
  left: 7px ;
  font-size: 1.25em ;
}
.icon-bell:before {
  content: "\e951";
  font-size: 1.2em ;
}
.icon-calendar:before {
  content: "\e953";
  position: absolute ;
  left: 7px ;
  font-size: 1.25em ;
  color: rgb(251, 213, 32) ;
}
.icon-user:before {
  content: "\e971";
  position: absolute ;
  left: 7px ;
  font-size: 1.25em ;
}
.icon-users:before {
  content: "\e972";
  font-size: 1.2em ;
}
.icon-search:before {
  content: "\e986";
  color: Gray ; 
  position: absolute ;
  left:13px ;
  top: 7px ;
  font-size: 13px ;
}
.icon-search1:before {
  content: "\e986";
  color: white ; 
  position: absolute ;
  font-size: 25px ;
  top: 42% ;
  left: 40% ;
}
.icon-cog:before {
  content: "\e994";
  position: absolute ;
  left: 7px ;
  font-size: 1.25em ;
}
.icon-list:before {
  content: "\e9ba";
  position: absolute ;
  left: 7px ;
  font-size: 1.25em ;
  
}
.icon-question:before {
  content: "\ea09";
  position: absolute ;
  left: 7px ;
  font-size: 1.25em ;
}
.icon-exit:before {
  content: "\ea14";
}
.icon-share:before {
  content: "\ea7d";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-menu:before {
  content: "\e9bd";
  font-size: 2em ;
}
.icon-play3:before {
  content: "\ea1c";
  position: absolute ;
  right: 5px ;
  top: 6px ;
  transform: rotate(90deg) ;
  font-size: 0.6em ;
}
.icon-backward2:before {
  content: "\ea1f";
  position: absolute ;
  left: 13px ;
  top: 5px ;
  font-size: 0.7em ;
  color: #737373 ;
}
.icon-forward3:before {
  content: "\ea20";
  position: absolute ;
  right: 13px ;
  font-size: 0.7em ;
  top: 5px ;
  color: #737373 ;
}
.icon-eye:before {
  content: "\e9ce";
  position: absolute ;
  right: 3px ;
  top: 0 ;
  color: #404040 ;
}



body {
	width: 100% ;
	margin: 0 ;
	padding: 0 ;
}
.main {
	width: 100% ;
	overflow: hidden ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
}
.mainchap {
	float: left ;
	width: 223px ;
	background-color: #262626 ;
	overflow: auto ;
	padding: 0 12px 15px 15px ;
}
.mainchap1 {
	width: 100% ;
	text-align: center ;
	padding-top: 12px ;
	padding-bottom: 0px ;
	border-bottom: 1px solid #333333 ;
}
.search {
	position: relative ;
	margin-top: 10px ;
}
.search1 {
	width: 100% ;
	background-color: #1a1a1a ;
	color: #cccccc ;
	border: 1px solid #333333 ;
	padding: 6px 0 5px 25px ;
}

.bar {
	display: flex ;
	flex-direction: column ; 
	text-align: left ;
	margin-top: 27px ;
	
}
.bar > div.noactive {
	position: relative ;
	margin-bottom: 24px ;
	font-family: sans-serif ;
	color: #999999 ;
	font-size: 0.9em ;
	padding-left: 40px ;
}
.bar > div:hover {
	color: white ;
}
.bar > div:hover  .icon-calendar , .icon-compass2 , .icon-clock , .icon-list , .icon-user , .icon-cog , .icon-question{
	color: #999999 ;
}
.activee {
	position: relative ;
	margin-bottom: 24px ;
	font-family: sans-serif ;
	color: white	;
	font-size: 0.9em ;
	padding-left: 40px ;
}
.mainchap2 {
	width: 100% ;
	padding-top: 12px ;
	padding-bottom: 22px ;
	border-bottom: 1px solid #333333 ;
}
.faarzaad {
	color: #999999 ;
	font-size: 0.7em ;
	font-weight: bold ;
	font-family: sans-serif ;
	margin-top: 5px ;
}

.mainchap3 {
	width: 100% ;
	padding-top: 22px ;
	padding-bottom: 22px ;
	border-bottom: 1px solid #333333 ;
}
.open {
	font-family: sans-serif ;
	font-size: 1.1em ;
	color: white ;
}

.amrica {
	position: relative ;
	width: 195px ;
	margin-right: 17px ;
	height: 43px ;
	overflow: hidden ;
}
.amrica:active {
	box-shadow:	0px 0px 5px 0.5px #fff0b3 ;
}
.amrica1 {
	width: 28px ;
	position: absolute ;
	left: 10px ;
	top: 14.5px ;
}
.textboxnew {
	width: 100% ;
	height: 100% ;
	font-family: sans-serif ;
	font-size: 1em ;
	border-radius: 5px ;
	border: none ;
	padding-left:47px ;
	color: #a6a6a6 ;
	
}
.button {
		padding: 14px 15px 14px 15px ;
		font-family: sans-serif ;
		font-size: 1em ;
		font-weight: bold ;
		width: 100% ;
		height: 100% ;
		background-color: rgb(251, 213, 32) ;
		border: 0 ;
		border-radius: 4px ;
}
.textt {
    width: 195px ;
    height: 43px ;
	margin-top: 25px ;
}
.formmnew {
	width: 100% ;
	display: block ;
	margin-top: 30px ;
}

.android {
	display: flex ;
	flex-direction: column ;
	width: 105px ;
	margin-top: 25px ;
}
.android > div {
	border: 1px solid white ;
	font-family: sans-serif ;
	border-radius: 3px ;
	letter-spacing: 1.7px ;
	cursor: pointer ;
	color: gray ;
	text-align: center ;
	padding: 10px 0 10px 0 ;
}
.android > div:hover {
	background-color: rgba(242, 242, 242, 0.2) ;
}

.mainchap4 {
	width: 100% ;
	padding-top: 15px ;
	padding-bottom: 15px ;
	border-bottom: 1px solid #333333 ;
	text-align: center ;
	font-family: sans-serif ;
	color: #999999 ;
	font-size: 0.8em ;
	font-weight: bold ;
}

.mainchap5 {
	width: 100% ;
	padding-top: 5px ;
	padding-bottom: 22px ;
	border-bottom: 1px solid #333333 ;
}
.connect {
	color: #999999 ;
	font-family: sans-serif ;
	font-weight: bold ;
	font-size: 0.7em ;
}
.error {
	width: 100% ;
	height: 20px ;
	background-color: #cccccc ;
	margin-bottom: 10px ;
}
.follow {
	color: #999999 ;
	font-family: sans-serif ;
	font-size: 0.8em ;
}
.follow:hover {
	text-decoration: underline ;
}

.mainchap6 {
	width: 100% ;
	padding-top: 5px ;
	padding-bottom: 0px ;
	text-align: center ;
}
.engg {
	color: #999999 ;
	font-family: sans-serif ;
	font-size: 0.7em ;
	font-weight: bold ;
}
.foot {
	margin-top: 15px ;
	color: #999999 ;
	font-family: sans-serif ;
	font-size: 0.8em ;
	line-height: 20px ;
}

.mainrast {
	width: 240px ;
	float: left ;
	background-color: #f2f2f2 ;
	padding-left: 12.5px ;
	padding-right: 12.5px ;
}
.cal {
	font-family: sans-serif ;
	font-size: 0.95em ;
	color: #737373 ;
	margin-bottom: 0 ;
}
.rastbala {
	width: 100% ;
	padding-top: 9.3px ;
	border-bottom: 1px solid #d9d9d9 ;
	padding-bottom: 15px ;
}
.choo {
	font-family: sans-serif ;
	font-size: 0.65em ;
	color: #737373 ;
	font-weight: bold ;
	margin-bottom: 0 ;
}
.alsh {
	width: 100% ;
	font-family: sans-serif ;
	padding: 1px 0 2px 5px ;
	margin-top: 7px ;
	border: 1px solid #b3b3b3 ;
	background-color: #f2f2f2 ;
	color: #737373 ;
	position: relative ;
}

.rastpaeen {
	width: 100% ;
	
}
.sep {
	width: 100% ;
	position: relative ;
	text-align: center ;
	font-family: sans-serif ;
	font-size: 0.85em ;
	font-weight: bold ;
	overflow: hidden ;
	margin-top: 15px ;
	color: #737373 ;
	
}
.weekdays {
  margin-top:  11px ;
  padding: 0 0 0 6px ;
  width: 100% ;
  margin-bottom: 0 ;
}

.weekdays li {
  display: inline-block;
  width: 12.2%;
  color: #666;
  text-align: center;
  font-family: sans-serif ;
  font-size: 0.85em ;
  font-weight: bold ;
}
.days {
  padding: 0 0 0 6px ;
  margin-top: 12px;
  width: 100% ;
  margin-bottom: 0 ;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 12.2%;
  text-align: center;
  margin-bottom: 12px;
  color: #666;
  font-family: sans-serif ;
  font-size: 0.9em ;
  font-weight: bold ;
 
}
.days li .acttt {
  color: #a6a6a6 ;
}
.days li .acttt1 {
  color: black  ;
  background-color: #dedede ;
  padding: 7px ;
  border-radius: 4px ;
}
.tod {
	width: 100% ;
	position: relative ;
	text-align: center ;
	font-family: sans-serif ;
	font-size: 0.85em ;
	font-weight: bold ;
	overflow: hidden ;
	margin-top: 0px ;
	color: #737373 ;
	
}

.vasat {
	padding: 0 10px 0 10px ;
	width: 69.5% ;
}
.vasat1 {
	width: 100% ;
	border-bottom: 2px solid #cccccc ;
	padding-bottom: 30px ;
}
.vasatbala {
	width: 100% ;
	overflow: hidden ;
	padding-top: 25px ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
	padding-right: 10.2% ;
	
}
.vasatchap {
	width: 148px ;
	margin-left: 37px ;
	text-align: center ;
	padding-top: 15px ;

}
.tues {
	font-family: sans-serif ;
	color: #404040 ;
	font-size: 1.3em ;
	margin-bottom: 0 ;
	font-weight: bold ;
	
}
.bis {
	margin-top: -10px ;
	margin-bottom: 0 ;
	font-size: 5em ;
	font-family: sans-serif ;
	color: #cccccc ;
}
.occ {
	font-family: sans-serif ;
	color: #cccccc ;
	font-size: 1em ;
	margin-top: -10px ;
	font-weight: bold ;
	margin-bottom: 0 ;
	
}
.yest {
	font-family: sans-serif ;
	border-top: 1px solid #cccccc ;
	margin-top: 7px ;
	padding-top: 5px ;
	font-weight: bold ;
	color: #404040 ;
	font-size: 0.9em ;
}
.vasatrast {
	width: 725px ;
	padding-top: 8px ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
	padding-left: 10px ;
}
.vasatrast > div {
	width: 220px ;
	margin-right: 10px ;
	position: relative ;
	padding-top: 23px ;
	
}
.n1 {
	width: 100% ;
	
	margin-bottom: 0 ;
}
.n11 {
	width: 100% ;
	margin-bottom: 0 ;
}
.paax {
	text-align: center ;
	padding-top: 7px ;
	padding-right: 13px ;
	padding-left: 13px ;
	
	margin-top: 0 ;
}
.seas {
	font-family: sans-serif ;
	margin-top: 0 ;
	font-weight: bold ;
	margin-bottom: 0 ;
	color: #404040 ;
}
.the {
	font-family: sans-serif ;
	font-size: 0.75em ;
	margin-top: 5px ;
	margin-bottom: 0 ;
	color: #4d4d4d ;
}
.dooo {
	margin-top: 10px ;
	font-family: sans-serif ;
	font-size: 0.78em ;
	margin-bottom: 0 ;
	color: #4d4d4d ;
}
.cbs {
	width: 100% ;
	font-family: sans-serif ;
	font-size: 0.8em ;
	border-top: 1px solid #d9d9d9 ;
	margin-top: 7px ;
	padding-top: 7px ;
	color: #4d4d4d ;
}
.kolesh {
	background-color: #f8f8f8 ;
	padding-bottom: 10px ;
    border: 1px solid #d9d9d9 ;
}


.vasatbala1 {
	width: 100% ;
	overflow: hidden ;
	padding-top: 17px ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
	padding-right: 10.2% ;
	
}
.vasatbala11 {
	width: 100% ;
	overflow: hidden ;
	padding-top: 0px ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
	padding-right: 10.2% ;
	
}
.vasatchap1 {
	width: 148px ;
	margin-left: 37px ;
	text-align: center ;
	padding-top: 15px ;
	color: white ;

}
.tues1 {
	font-family: sans-serif ;
	font-size: 1.3em ;
	margin-bottom: 0 ;
	font-weight: bold ;
	
}
.bis1 {
	margin-top: -10px ;
	margin-bottom: 0 ;
	font-size: 5em ;
	font-family: sans-serif ;
}
.occ1 {
	font-family: sans-serif ;
	font-size: 1em ;
	margin-top: -10px ;
	font-weight: bold ;
	margin-bottom: 0 ;
	
}
.yest1 {
	font-family: sans-serif ;
	margin-top: 7px ;
	padding-top: 5px ;
	font-weight: bold ;
	font-size: 0.9em ;
}
.bis11 {
	margin-top: -10px ;
	margin-bottom: 0 ;
	font-size: 5em ;
	font-family: sans-serif ;
	color: rgb(251, 213, 32) ;
}
.occ11 {
	font-family: sans-serif ;
	font-size: 1em ;
	margin-top: -10px ;
	font-weight: bold ;
	margin-bottom: 0 ;
	color: rgb(251, 213, 32) ;
}








.barmob1 {
	display: none ;
}
.barmob {
	display: none ;
}


@media only screen and (max-width: 1440px) {

	.haazf {
		display: none ;
	}
	.vasatrast {
	width:480px ;
	padding-top: 8px ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
	padding-left: 10px ;
}
.vasatbala {
	width: 80% ;
	overflow: hidden ;
	padding-top: 25px ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
	padding-right: 0 ;
}
.vasatbala1 {
	width: 80% ;
	overflow: hidden ;
	padding-top: 17px ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
	padding-right: 0% ;
	
}
.vasatbala11 {
	width: 80% ;
	overflow: hidden ;
	padding-top: 0px ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
	padding-right: 0% ;
	
}
}
@media only screen and (max-width:1300px) {
	.vasat {
		width: 55% ;
	}
	.haazf1 {
		display: none ;
	}
	.vasatrast {
	width: 300px ;
	padding-top: 8px ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
	padding-left: 10px ;
}
.vasatbala {
	width: 70% ;
	overflow: hidden ;
	padding-top: 25px ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
	padding-right: 0 ;
}
.vasatbala1 {
	width: 70% ;
	overflow: hidden ;
	padding-top: 17px ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
	padding-right: 0% ;
	
}
.vasatbala11 {
	width: 70% ;
	overflow: hidden ;
	padding-top: 0px ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
	padding-right: 0% ;
	
}
}
@media only screen and (max-width:1000px) {
	
	.main {
	width: 100% ;
	overflow: hidden ;
	display: block ;
}
	.mainchap {
	display: none ;
}
.mainrast {
	display: none ;
}
.barmob {
	display: block ;
	background-color: #262626 ;
	color: white ;
	display: flex ;
	flex-direction: row ;
    flex-wrap: nowrap ;
    justify-content: space-between ;
    width: 100% ;	
	padding: 10px 10px 8px 10px ;

}
.logomob {
	float: left ;
}
.tti {
	float: left ;	
	font-family: sans-serif ;
	font-size: 1.5em ;
	margin-top: 6px ;
	margin-left: 5px ;
	font-weight: bold ;
	margin-bottom: 0 ;
}
.menu1 {
	padding-top: 5px ;
}
.vasat {
	padding: 0 10px 0 10px ;
	width: 100% ;
}
.vasat1 {
	width: 100% ;
	border-bottom: 2px solid #cccccc ;
	padding-bottom: 30px ;
}
.vasatbala {
	width: 100% ;
	overflow: hidden ;
	padding-top: 25px ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
	padding-right: 10.2% ;
	
}
.vasatchap {
	width: 148px ;
	margin-left: 37px ;
	text-align: center ;
	padding-top: 15px ;

}
.tues {
	font-family: sans-serif ;
	color: #404040 ;
	font-size: 1.3em ;
	margin-bottom: 0 ;
	font-weight: bold ;
	
}
.bis {
	margin-top: -10px ;
	margin-bottom: 0 ;
	font-size: 5em ;
	font-family: sans-serif ;
	color: #cccccc ;
}
.occ {
	font-family: sans-serif ;
	color: #cccccc ;
	font-size: 1em ;
	margin-top: -10px ;
	font-weight: bold ;
	margin-bottom: 0 ;
	
}
.yest {
	font-family: sans-serif ;
	border-top: 1px solid #cccccc ;
	margin-top: 7px ;
	padding-top: 5px ;
	font-weight: bold ;
	color: #404040 ;
	font-size: 0.9em ;
}
.vasatrast {
	width: 725px ;
	padding-top: 8px ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
	padding-left: 10px ;
}
.vasatrast > div {
	width: 220px ;
	margin-right: 10px ;
	position: relative ;
	padding-top: 23px ;
	
}
.n1 {
	width: 100% ;
	
	margin-bottom: 0 ;
}
.n11 {
	width: 100% ;
	margin-bottom: 0 ;
}
.paax {
	text-align: center ;
	padding-top: 7px ;
	padding-right: 13px ;
	padding-left: 13px ;
	
	margin-top: 0 ;
}
.seas {
	font-family: sans-serif ;
	margin-top: 0 ;
	font-weight: bold ;
	margin-bottom: 0 ;
	color: #404040 ;
}
.the {
	font-family: sans-serif ;
	font-size: 0.75em ;
	margin-top: 5px ;
	margin-bottom: 0 ;
	color: #4d4d4d ;
}
.dooo {
	margin-top: 10px ;
	font-family: sans-serif ;
	font-size: 0.78em ;
	margin-bottom: 0 ;
	color: #4d4d4d ;
}
.cbs {
	width: 100% ;
	font-family: sans-serif ;
	font-size: 0.8em ;
	border-top: 1px solid #d9d9d9 ;
	margin-top: 7px ;
	padding-top: 7px ;
	color: #4d4d4d ;
}
.kolesh {
	background-color: #f8f8f8 ;
	padding-bottom: 10px ;
    border: 1px solid #d9d9d9 ;
}


.vasatbala1 {
	width: 100% ;
	overflow: hidden ;
	padding-top: 17px ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
	padding-right: 10.2% ;
	
}
.vasatbala11 {
	width: 100% ;
	overflow: hidden ;
	padding-top: 0px ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
	padding-right: 10.2% ;
	
}
.vasatchap1 {
	width: 148px ;
	margin-left: 37px ;
	text-align: center ;
	padding-top: 15px ;
	color: white ;

}
.tues1 {
	font-family: sans-serif ;
	font-size: 1.3em ;
	margin-bottom: 0 ;
	font-weight: bold ;
	
}
.bis1 {
	margin-top: -10px ;
	margin-bottom: 0 ;
	font-size: 5em ;
	font-family: sans-serif ;
}
.occ1 {
	font-family: sans-serif ;
	font-size: 1em ;
	margin-top: -10px ;
	font-weight: bold ;
	margin-bottom: 0 ;
	
}
.yest1 {
	font-family: sans-serif ;
	margin-top: 7px ;
	padding-top: 5px ;
	font-weight: bold ;
	font-size: 0.9em ;
}
.bis11 {
	margin-top: -10px ;
	margin-bottom: 0 ;
	font-size: 5em ;
	font-family: sans-serif ;
	color: rgb(251, 213, 32) ;
}
.occ11 {
	font-family: sans-serif ;
	font-size: 1em ;
	margin-top: -10px ;
	font-weight: bold ;
	margin-bottom: 0 ;
	color: rgb(251, 213, 32) ;
}
}
@media only screen and (max-width: 768px) {

.mainchap {
	display: none ;
}

.mainrast {
	width: 250px ;
	float: left ;
	padding-left: 18px ;
}
.axefilm {
	width: 132px ;
	height: 200px ;
}
}






