html {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box; }

*, *:before, *:after {
 -webkit-box-sizing: inherit;
 -moz-box-sizing: inherit;
 box-sizing: inherit; }
 
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1isgfp');
  src:  url('fonts/icomoon.eot?1isgfp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1isgfp') format('truetype'),
    url('fonts/icomoon.woff?1isgfp') format('woff'),
    url('fonts/icomoon.svg?1isgfp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e9da";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-ctrl:before {
  content: "\ea50";
  position: absolute ;
  left: 0px ;
  color: white ;
  font-size: 65px ;
  font-weight: bolder ;
  top: 43%  ;
  transform: rotate(270deg) ;
  display: none ;
  
}

.icon-ctrl1:before {
  content: "\ea50";
  position: absolute ;
  right: 0px ;
  color: white ;
  font-size: 65px ;
  font-weight: bolder ;
  top: 200px  ;
  transform: rotate(90deg) ;
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
 
 
 
body {
	width: 100% ;
	margin: 0 ;
	padding: 0 ;
	
} 
.main {
	width: 100% ;
	overflow: hidden ;
	
}
.main1 {

	background-image: url("../images/homepage-masthead-bg.png") ;
	width: 100% ;
	margin: 0 ;
	color: white ;
	padding: 22px 7.2% 0 7.2% ;
	position: relative ;
	overflow: hidden ;
	margin-bottom: 0 ;
}
.header {
	width: 100% ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ; 
	

}
.header > div {
}
.logo {
	width: 34px ;
	border-radius: 3px ;
}
.nav {
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
}
.nav > div {
	margin-left : 18px ;
	border: 1px solid white ;
	padding: 12px 20px 12px 20px ;
	font-family: sans-serif ;
	border-radius: 2px ;
	cursor: pointer ;
}
.nav > div:hover {
background-color: rgba(242, 242, 242, 0.2)
	
}
.center {
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
	width: 100% ;
	padding: 35px 14.1% 0 7.1% ;
	overflow: hidden ;
}
.tvt {
	font-family: sans-serif ;
	font-weight: bolder ;
	margin-top: 82px ;
	font-size: 1.8em ;
	margin-bottom: 0 ;
}
.zard {
	color: #fbd520 ;
}
.track {
	font-family: sans-serif ;
	font-size: 1.28em ;
	margin-top: 5px ;
	margin-bottom: 5px ;
}
.amrica {
	position: relative ;
	width: 305px ;
	margin-right: 17px ;
	height: 100% ;
	overflow: hidden ;
	
}
.amrica:active {
	box-shadow: 0px 0px 5px 0.5px #fff0b3 ;
}
.amrica1 {
	width: 28px ;
	position: absolute ;
	left: 10px ;
	top: 20px ;
}
.textbox {
	width: 100% ;
	height: 100% ;
	font-family: sans-serif ;
	font-size: 1em ;
	border-radius: 5px ;
	border: none ;
	padding-left:47px ;
	color: #a6a6a6 ;
	
}
.button {
		padding: 14px 15px 14px 15px ;
		font-family: sans-serif ;
		font-size: 1em ;
		font-weight: bold ;
		width: 100% ;
		height: 100% ;
		background-color: rgb(251, 213, 32) ;
		border: 0 ;
		border-radius: 4px ;
}
.formm {
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	width: 100% ;
	height: 55px ;
}
.formm > div {	
}
.textt {
	width: 170px ;
	height: 100% ;
}

.android {
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	width: 100% ;
	margin-top: 53px ;
}
.android > div {
	margin-right : 18px ;
	border: 1px solid white ;
	padding: 17px 33px 17px 33px ;
	font-family: sans-serif ;
	border-radius: 3px ;
	letter-spacing: 1.7px ;
	cursor: pointer ;
}
.android > div:hover {
	background-color: rgba(242, 242, 242, 0.2) ;
}
.sefid {
	width: 110% ;
	height: 115px ;
	background-color: white ;
	position: absolute ;
	bottom: -30px ;
	left: 0 ;
	transform: rotate(-1.6deg) ;
}


.main2 {
	width: 100% ;
	margin-top: 0px ;
	position: relative ;
	overflow: hidden ;
	padding-right: 275px ;
}

.fon {
	width: 420px ;
	float: right ;
	margin-right: 30px ;
}
.fon2 {
	width: 450px ;
	float: right ;
	
}
.wonder {
	font-family: sans-serif ;
	font-size: 2em ;
	margin-top: 58px ;
	margin-bottom: 0 ;
}
.prg {
	font-family: sans-serif ;
	font-size: 1em ;
	margin-top: 5px ;
	line-height: 30px ;
	margin-bottom: 0 ;
}
.axgerdha {
	width: 100% ;
	margin-top: 0 ;
}
.axgerd2 {
	position: relative ;
	overflow: hidden ;
}
.axgerd3 {
	position: relative ;
	overflow: hidden ;
	margin-top: 23px ;
}
.axgerd1 {
	width: 85px ;
	height: 75px ;
}
.prg1 {
	position: absolute ;
	left: 100px ;
	top: 11px ;
	font-family: sans-serif ;
	font-size: 0.9em ;
}

.main3 {
	width: 100% ;
	position: relative ;
	overflow: hidden ;
}
.main33 {
	width: 100% ;
	display: flex ;
    flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
}
.main33 > div {
	width: 14.285% ;
	position: relative ;
	height: 385px ;
	cursor: pointer ;
}
.abso {
	background-color: rgba(0, 0, 0, 0.8) ;
	position: absolute ;
	width: 100% ;
	height: 100% ;
	text-align: center ;
	display: none ;
}
.main33 > div:hover .abso {
	display: block ;
}
.pik {
	margin-top: 40px ;
}
.pikgerd1 {	
	width: 40px ;
	height: 40px ;
	border-radius: 50px ;
	margin-top: -30px ;
}
.game {
	color: white ;
	font-family: sans-serif ;
	font-size: 0.9em ;
	margin-top: 5px ;
}
.sotun {
	width: 100% ;
	background-color: green ;
	display: flex ;
	flex-direction: column ;
	position: relative ;
}

.gif1 {
	width: 100% ;
	height: 100% ;
}
.sefid1 {
	width: 110% ;
	height: 115px ;
	background-color: white ;
	position: absolute ;
	top: -100px ;
	transform: rotate(-1.6deg) ;
}
.sefid2 {
	width: 110% ;
	height: 115px ;
	background-color: white ;
	position: absolute ;
	bottom: -93px ;
	transform: rotate(-1.6deg) ;
}
.markaz {
	background-color: white ;
	width: 400px ;
	position: absolute ;
	top: 340px ;
	left: 37% ;
	overflow: hidden ;
	border-radius: 60px ;
	padding:8px ;
}
.axmarkaz {
	width: 180px ;
}
.marchap {
	float: left ;
	width: 50% ;
}
.marrast{
	float: right ;
	width: 50% ;
	padding-top: 10px ;
}
.mil {
	font-family: sans-serif ;
	font-size: 2em ;
	font-weight: bolder ;
	margin-top: 0 ;
	margin-bottom: 0 ;
}
.react {
	margin: 0 ;
	font-size: 1em ;
	letter-spacing: 5px ;
}

.main4 {
	width: 100% ; 
	text-align: center ;
	overflow: hidden ;
}
.titr {
	font-family: sans-serif ;
	font-weight: bolder ;
	font-size: 2.2em ;
	margin-bottom: 0 ;
	
}
.prg2 {
	font-family: sans-serif ;
	font-size: 1.1em ;
	margin-top: 17px ;
	margin-bottom: 0 ;
	line-height:30px ;
}
.prg3 {
	font-family: sans-serif ;
	font-size: 1.1em ;
	margin-top: 12px ;
	margin-bottom: 0 ;
	font-weight: bold ;
}
.police {
	width: 175% ;
	margin-left: -37.5% ;
	margin-top: 30px ;
}

.main5 {
	width: 100% ;
	text-align: center ;
	margin-top: 50px ;
	
}
.main55 {
	width: 100% ;
    height: 450px ;
	position: relative ;
	margin-top: 35px ;
	background-color: black ;
}
.main55new {
	width: 100% ;
	background-color: black ;
	padding-bottom: 100px ;
	
}
.main555 {
	width: 200% ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	position: absolute ;
	
}
.main555 > div {
	width: 20% ;	
	height: 100% ;
}
.ax {
	width: 100% ;
	height: 100% ;
}
.ghalb {
	margin-bottom: -10px ;
}
.titr1 {
	font-family: sans-serif ;
	font-size: 2.2em ;
	margin-bottom: 0 ;
	position: relative ;
	color: white ;
}
.prgnew {
	font-family: sans-serif ;
	font-size: 1.1em ;
	margin-top: 17px ;
	margin-bottom: 0 ;
	line-height:30px ;
	color: white ;
}
.main5paeen {
	width: 100% ;
	padding: 0 4.5% 0 4.5% ;
	margin-top: 50px ;
}
.main5paeen1 {
	width: 100% ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
}
.main5paeen1 > div {
	width: 32.6% ;
	padding: 23px 23px 5px 23px ;
	background-color: white ;
	border-radius: 5px ;
}
.yek {
	width: 100% ;
	overflow: hidden ;
}
.do {
	width: 50px ;
	height: 50px ;
	float: left ;
}
.se {
	text-align: left ;
	float: left ;
	font-family: sans-serif ;
	font-size: 1em ;
	padding-top: 3px ;
	line-height: 23px ;
	padding-left: 10px ;
	overflow: hidden ;
	width: 60% ;
} 
.yekyek {
	width: 100% ;
	text-align: left ;
	font-family: sans-serif ;
	font-size: 1em ;
	margin-top: 28px ;
}
.pm {
	margin-top: 65px ;
}
.main5paeen2 {
	width: 100% ;
	margin-top: 15px ;
	background-color: white ;
	overflow: hidden ;
}
.chapechap {
	width: 105px ;
	height:100px ;
	float: left ;
	position: relative ;
	overflow: hidden ;
}
.chapechap1 {
	width: 105px ;
	height: 170px ;
	transform: rotate(40deg) ;
	position: absolute ;
	left: -40px ;
	top: -60px ;
}
.gerdlogo {
	position: absolute ;
	left: 15px ;
	top: 15px ;
}
.rasterast {
	width: 80% ;
	text-align: left ;
	padding-left: 15px ;
	float: left ;
}
.laun {
	font-size: 1.7em ;
	margin-top: 15px ;
	margin-bottom: 0 ;
}
.hey {
	margin-top: -10px ;
	font-family: sans-serif ;
}

.main6 {
	overflow: hidden ;
	width: 100% ;
	margin-top: 20px ;
}
.chap {
	float: left ;
	width: 20% ;
	text-align: center ;
	margin-left: 9.8% ;
}
.integ {
	font-family: sans-serif ;
	font-size: 1.8em ;
	margin-bottom: 0 ;
}
.connect {
	font-family: sans-serif ;
	font-size: 1em ;
	margin-top: 15px ;
	line-height: 27px ;
}
.rast {
	float: right ;
	width: 47% ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	margin-right: 17% ;
	padding-top: 15px ;
}
.rast > div {
	margin: 12px ;
}

.show { 
display: block ;
}

.main7 {
	width: 100% ;
	position: relative ;
	height: 600px ;
	background-color: red ;
	margin-top: 100px ;
}
.gif11 {
	width: 100% ;
	height: 100% ;
}
.adad {
	position: absolute ;
	font-size: 4em ;
	right: 10% ;
	top: 28% ;
}
.episodes {
	position: absolute ;
	font-size: 1.5em ;
	right: 20.7%	;
	top: 52% ;
}
.logakhar {
    position: absolute ;
	left: 47% ;
	bottom: -25px ;
}
.titr1neew{
	font-family: sans-serif ;
	font-size: 1em ;
	color: black ;
}
.ghalb , .ghalbmooob {
	margin-bottom: -3px ;
}
.main77 {
	background-color: red ;
	width: 100% ;
	overflow: hidden ;
	margin-top: 0 ;
}
.sefid3 {
	width: 110% ;
	height: 60px ;
	background-color: white ;
	position: absolute ;
	bottom: -20px ;
	transform: rotate(-1.6deg) ;
	text-align: center ;
}
.main8 {
	width: 100% ;
    text-align: center ;
	margin-top: 50px ;
}

.main9 {
	width: 100% ;
	padding: 50px 21.5% 35px 21.5% ;
	margin-top: 35px ;
	position: relative ;
	background-color: #cccccc ;
	opacity: 0.4 ;
	text-align: center ;
}
.main99 {
	width: 100% ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
}
.main99 > div {
	font-family: sans-serif ;
	font-weight: bold ;
}
.main99 > div:hover {
	text-decoration: underline ;
}
.ic {
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
	width: 85px ;
	position: absolute ;
	right: 11% ;
	overflow: hidden ;
	bottom: 33px ;
}
.ic > div {
	height: 30.5px ;
}
.tw {
	border: 1px solid black ;
	background-color: black ;
	color: white ;
	padding: 5px 5px 0px 5px ;
	font-size: 1.2em ;
	border-radius: 3px ;
}
.fac {
	font-size: 1.9em ;
}


.formmnew {
	display: none ;
}
.mobformm {
	display: none ;
}
.banafsh {
	display: none ;
}
.prgnewww {
	display: none ;
}
.prg1neeww {
    display: none ;
}
.patrol {
	display: none ;
}
.mobflex {
	display: none ;
}
.prgnewmob {
	display: none ;
}









@media only screen and (max-width: 1400px) {
	.center {
	padding: 35px 12% 0 7.2% ;
}
	.main1 {
	padding: 22px 4% 0 3% ;

}
.main2 {
	padding-right: 200px ;
}
}
@media only screen and (max-width: 1300px) {
	.center {
padding: 35px 9% 0 6% ;
}
	.main1 {
	padding: 22px 2.5% 0 1.5% ;

}
.main2 {
	padding-right: 150px ;
}
.main9 {
	padding: 50px 19% 35px 19% ;
}
.ic {
	right: 10% ;
}
}
@media only screen and (max-width: 1200px) {
.dell {
	display: none ;
}
.main33 > div {
	width: 20% ;
}
.pik {
	margin-top: 65px ;
}
.adad {
	position: absolute ;
	font-size: 3em ;
	right: 10% ;
	top: 28% ;
}
.episodes {
	position: absolute ;
	font-size: 1.1em ;
	right: 20.7%	;
	top: 46% ;
}
}
@media only screen and (max-width: 1100px) {
	.center {
padding: 35px 2% 0 2% ;
}
.main2 {
	padding-right: 0px ;
}
.fon {
	width: 420px ;
	margin-left: 30% ;
	float: left ;
}
.fon2 {
	width: 100% ;
	padding-left: 15% ;
}
.prg {
	display: none ;
}
.prgnewww {
	font-family: sans-serif ;
	font-size: 1em ;
	margin-top: 5px ;
	line-height: 30px ;
	margin-bottom: 0 ;
	display: block ;
}
.axgerdha {
	width: 100% ;
	margin-top: 0 ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	margin-left: 225px ;
}
.axgerdha > div {
	margin-right: 15px ;
	position: relative ;
}
.axgerd2 {
	text-align: center ;
}
.axgerd3 {
	margin-top: 0 ;
	text-align: center ;
}
.axgerd1 {
	width: 73px ;
	height: 65px ;
}
.prg1 {
display: none ;
}
.prg1neeww {
	font-family: sans-serif ;
	font-size: 0.9em ;
	margin-top: 0 ;
	display: block ;
}
.chap {
	display: none ;
}
.rast {
	width: 100% ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	padding-top: 15px ;
	justify-content: space-between ;
	margin-right: 0 ;
}
.rast > div {
	margin: 0px ;
}
.main9 {
	padding: 50px 10% 35px 10% ;
}
.ic {
	width: 65px ;
	position: absolute ;
	right: 5px ;
	overflow: hidden ;
	bottom: 33px ;
}
.ic > div {
	height: 30.5px ;
}
}
@media only screen and (max-width: 1000px) {
	.center {
padding: 35px 6% 0 12% ;
}

.formm {
	display: none ;
}

.formmnew {
	width: 100% ;
	display: block ;
}
.textboxnew {
	width: 100% ;
	height: 55px ;
	font-family: sans-serif ;
	font-size: 1em ;
	border-radius: 5px ;
	border: none ;
	padding-left:47px ;
	color: #a6a6a6 ;
}
.buttonnew {
		padding: 14px 15px 14px 15px ;
		font-family: sans-serif ;
		font-size: 1em ;
		font-weight: bold ;
		width: 100% ;
	    height: 55px ;
		background-color: rgb(251, 213, 32) ;
		border: 0 ;
		border-radius: 4px ;
}
.android {
    flex-direction: column ;
	width: 170px ;
}
.main555 {
	width: 333.33% ;
}
.main555 > div {
	width: 33.3% ;	
	height: 100% ;
}
.main9 {
	padding: 50px 10% 35px 8% ;
}
}
@media only screen and (max-width: 850px) {
	.center {
    padding: 35px 6% 0 3% ;
}
.fon {
	margin-left: 24% ;
}
.fon2 {
	padding-left: 7.8% ;
}
.axgerdha {
	margin-left: 225px ;
}
.main9 {
	padding: 50px 10% 35px 0% ;
}
}
@media only screen and (max-width: 768px) {
	.center {
    padding: 35px 6% 0 3% ;
}
.main1 {

	background-image: url("../images/homepage-masthead-bg--mobile.jpg") ;
	padding: 22px 4.3% 0 2.5% ;
}
.e2 {
	display: none ;
}
	.center {
    padding: 20px 2% 100px 2% ;
}
.formmnew {
	display: none ;
}
.formm {
	display: none ;
}
.mobformm {
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	width: 100% ;
	height: 55px ;
}
.android {
	display: none ;
}
.banafsh {
	width: 215px ;
	background-color: #a504fb ;
	text-align: center ;
	font-size: 1.1em ;
	font-family: sans-serif ;
	color: black ;
	border: none ;
	border-radius: 25px ;
	margin-top: 55px ;
	padding: 12px 15px 12px 15px ;
	font-weight: bold ;
	opacity: 0.7 ;
	display: block ;
}
.fon {
	margin-left: 24% ;
}
.fon2 {
	padding-left: 3% ;
}
.axgerdha {
	margin-left: 225px ;
}
.dell1 {
	display: none ;
}
.main33 > div {
	width: 25% ;
}
.markaz {
	left: 23.5% ;
}
.police {
    display: none ;
}
.patrol {
	width: 100% ;
	margin-top: 30px ;
	display: block ;
}
.main55 {
	display: none ;
}
.mobflex {
	width: 100% ;
	display: flex ;
	flex-direction: column ;
	flex-wrap: nowrap ;
	background-color: red ;
	justify-content: space-between ;
	display: block ;
}
.main555mob {
	width: 100% ;
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
	
}
.main555mob > div {
	width: 33.33% ;
	position: relative ;
    
	cursor: pointer ;
}
.axmobb {
	width: 100% ;
	height: 100% ;
}
.ghalb {
	margin-bottom: -15px ;
}
.prgnewmob {
	font-family: sans-serif ;
	font-size: 1.1em ;
	margin-top: 17px ;
	margin-bottom: 0 ;
	line-height:30px ;
	color: white ;
	display: block ;
}
.prgnew {
    display: none ;
}
.sevvomi {
	display: none ;
}
.main5paeen1 > div {
	width: 49% ;
}
.dill {
	display: none ;
}
.main99 {
	width: 100% ;
	display: flex ;
	flex-direction: column ;
	flex-wrap: nowrap ;
	justify-content: space-between ;
}
.main99 > div {
	margin-bottom: 15px ;
}
.main9 {
	padding: 50px 0% 35px 0% ;
}
}
@media only screen and (max-width: 570px) {
	.center {
    padding: 20px 4% 120px 3% ;
	overflow: hidden ;
}
.banafsh {
	display: none ;
}
.e1 {
	width: 100% ;
}
.formm {
	display: none ;
}

.formmnew {
	width: 100% ;
	display: block ;
}
.mobformm {
	display: none ;
}
.main1 {
	padding: 22px 6% 0 4% ;

}
.fon {
	margin-left: 6% ;
}
.fon2 {
	padding-left: 3% ;
}
.axgerdha {
	margin-left: 100px ;
}
.markaz {
	left: 8% ;
	top: 180px ;
}
.main33 > div {
	height: 230px ;
}
.dovvomi {
	display: none ; 
}
.main5paeen1 > div {
	width:100% ;
}
.adad {
	position: absolute ;
	font-size: 2em ;
	right: 10% ;
	top: 35% ;
}
.episodes {
	position: absolute ;
	font-size: 1em ;
	right: 20.7%	;
	top: 46% ;
}
.logakhar {
    position: absolute ;
	left: 38% ;
	bottom: -15px ;
}
}













