html {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box; }

*, *:before, *:after {
 -webkit-box-sizing: inherit;
 -moz-box-sizing: inherit;
 box-sizing: inherit; }
 
 
@font-face {
  font-family: 'icomoon';
  src:  url('fonts1/icomoon.eot?ac4hf3');
  src:  url('fonts1/icomoon.eot?ac4hf3#iefix') format('embedded-opentype'),
    url('fonts1/icomoon.ttf?ac4hf3') format('truetype'),
    url('fonts1/icomoon.woff?ac4hf3') format('woff'),
    url('fonts1/icomoon.svg?ac4hf3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-compass2:before {
  content: "\e94a";
  position: absolute ;
  left: 7px ;
  font-size: 1.25em ;
}
.icon-clock:before {
  content: "\e94e";
   position: absolute ;
  left: 7px ;
  font-size: 1.25em ;
}
.icon-bell:before {
  content: "\e951";
  font-size: 1.2em ;
}
.icon-calendar:before {
  content: "\e953";
  position: absolute ;
  left: 7px ;
  font-size: 1.25em ;
}
.icon-user:before {
  content: "\e971";
  position: absolute ;
  left: 7px ;
  font-size: 1.25em ;
}
.icon-users:before {
  content: "\e972";
  font-size: 1.2em ;
}
.icon-search:before {
  content: "\e986";
  color: Gray ; 
  position: absolute ;
  left:13px ;
  top: 7px ;
  font-size: 13px ;
}
.icon-search1:before {
  content: "\e986";
  color: white ; 
  position: absolute ;
  font-size: 25px ;
  top: 42% ;
  left: 40% ;
}
.icon-cog:before {
  content: "\e994";
  position: absolute ;
  left: 7px ;
  font-size: 1.25em ;
}
.icon-list:before {
  content: "\e9ba";
  position: absolute ;
  left: 7px ;
  font-size: 1.25em ;
  color: rgb(251, 213, 32) ;
}
.icon-question:before {
  content: "\ea09";
  position: absolute ;
  left: 7px ;
  font-size: 1.25em ;
}
.icon-exit:before {
  content: "\ea14";
}
.icon-share:before {
  content: "\ea7d";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-menu:before {
  content: "\e9bd";
  font-size: 2em ;
}



body {
	width: 100% ;
	margin: 0 ;
	padding: 0 ;
}
.main {
	width: 100% ;
	overflow: hidden ;
}
.mainchap {
	float: left ;
	width: 223px ;
	background-color: #262626 ;
	overflow: auto ;
	padding: 0 12px 15px 15px ;
}
.mainchap1 {
	width: 100% ;
	text-align: center ;
	padding-top: 12px ;
	padding-bottom: 0px ;
	border-bottom: 1px solid #333333 ;
}
.search {
	position: relative ;
	margin-top: 10px ;
}
.search1 {
	width: 100% ;
	background-color: #1a1a1a ;
	color: #cccccc ;
	border: 1px solid #333333 ;
	padding: 6px 0 5px 25px ;
}

.bar {
	display: flex ;
	flex-direction: column ; 
	text-align: left ;
	margin-top: 27px ;
	
}
.bar > div.noactive {
	position: relative ;
	margin-bottom: 24px ;
	font-family: sans-serif ;
	color: #999999 ;
	font-size: 0.9em ;
	padding-left: 40px ;
}
.bar > div:hover {
	color: white ;
}
.bar > div:hover  .icon-calendar , .icon-compass2 , .icon-clock , .icon-list , .icon-user , .icon-cog , .icon-question{
	color: #999999 ;
}
.activee {
	position: relative ;
	margin-bottom: 24px ;
	font-family: sans-serif ;
	color: white	;
	font-size: 0.9em ;
	padding-left: 40px ;
}
.mainchap2 {
	width: 100% ;
	padding-top: 12px ;
	padding-bottom: 22px ;
	border-bottom: 1px solid #333333 ;
}
.faarzaad {
	color: #999999 ;
	font-size: 0.7em ;
	font-weight: bold ;
	font-family: sans-serif ;
	margin-top: 5px ;
}

.mainchap3 {
	width: 100% ;
	padding-top: 22px ;
	padding-bottom: 22px ;
	border-bottom: 1px solid #333333 ;
}
.open {
	font-family: sans-serif ;
	font-size: 1.1em ;
	color: white ;
}

.amrica {
	position: relative ;
	width: 195px ;
	margin-right: 17px ;
	height: 43px ;
	overflow: hidden ;
}
.amrica:active {
	box-shadow:	0px 0px 5px 0.5px #fff0b3 ;
}
.amrica1 {
	width: 28px ;
	position: absolute ;
	left: 10px ;
	top: 14.5px ;
}
.textboxnew {
	width: 100% ;
	height: 100% ;
	font-family: sans-serif ;
	font-size: 1em ;
	border-radius: 5px ;
	border: none ;
	padding-left:47px ;
	color: #a6a6a6 ;
	
}
.button {
		padding: 14px 15px 14px 15px ;
		font-family: sans-serif ;
		font-size: 1em ;
		font-weight: bold ;
		width: 100% ;
		height: 100% ;
		background-color: rgb(251, 213, 32) ;
		border: 0 ;
		border-radius: 4px ;
}
.textt {
    width: 195px ;
    height: 43px ;
	margin-top: 25px ;
}
.formmnew {
	width: 100% ;
	display: block ;
	margin-top: 30px ;
}

.android {
	display: flex ;
	flex-direction: column ;
	width: 105px ;
	margin-top: 25px ;
}
.android > div {
	border: 1px solid white ;
	font-family: sans-serif ;
	border-radius: 3px ;
	letter-spacing: 1.7px ;
	cursor: pointer ;
	color: gray ;
	text-align: center ;
	padding: 10px 0 10px 0 ;
}
.android > div:hover {
	background-color: rgba(242, 242, 242, 0.2) ;
}

.mainchap4 {
	width: 100% ;
	padding-top: 15px ;
	padding-bottom: 15px ;
	border-bottom: 1px solid #333333 ;
	text-align: center ;
	font-family: sans-serif ;
	color: #999999 ;
	font-size: 0.8em ;
	font-weight: bold ;
}

.mainchap5 {
	width: 100% ;
	padding-top: 5px ;
	padding-bottom: 22px ;
	border-bottom: 1px solid #333333 ;
}
.connect {
	color: #999999 ;
	font-family: sans-serif ;
	font-weight: bold ;
	font-size: 0.7em ;
}
.error {
	width: 100% ;
	height: 20px ;
	background-color: #cccccc ;
	margin-bottom: 10px ;
}
.follow {
	color: #999999 ;
	font-family: sans-serif ;
	font-size: 0.8em ;
}
.follow:hover {
	text-decoration: underline ;
}

.mainchap6 {
	width: 100% ;
	padding-top: 5px ;
	padding-bottom: 0px ;
	text-align: center ;
}
.engg {
	color: #999999 ;
	font-family: sans-serif ;
	font-size: 0.7em ;
	font-weight: bold ;
}
.foot {
	margin-top: 15px ;
	color: #999999 ;
	font-family: sans-serif ;
	font-size: 0.8em ;
	line-height: 20px ;
}

.mainrast {
	width: 250px ;
	float: left ;
	padding-left: 41px ;
}
.yet {
	font-family: sans-serif ;
	font-size: 1.2em ;
}
.yeek {
	color: #cccccc ;
}

.axefilm {
	width: 155px ;
	height: 225px ;
	position: relative ;
	margin-top: 50px ;
}
.film {
	width: 100% ;
	height: 100% ;
}
.roosh {
	width: 100% ;
	height: 100% ;
	position: absolute ;
	background-color: rgba(0, 0, 0, 0.6) ;
	text-align: center ;
	display: none ;
}
.axefilm:hover .roosh {
	display: block ;
}
.sea {
	font-family: sans-serif ;
	font-size: 0.8em ;
	font-weight: bold ;
	margin-top: 5px ;
	margin-bottom: 0 ;
}
.eppi {
	color: #999999 ;
	font-size: 0.8em ;
}
.sadd {
	font-family: sans-serif ;
	font-size: 0.7em ;
	margin-top: 3px ;
}

.barmob {
	display: none ;
}


@media only screen and (max-width: 768px) {

.mainchap {
	display: none ;
}
.barmob {
	display: block ;
	background-color: #262626 ;
	color: white ;
	display: flex ;
	flex-direction: row ;
    flex-wrap: nowrap ;
    justify-content: space-between ;
    width: 100% ;	
	padding: 10px 10px 8px 10px ;

}
.logomob {
	float: left ;
}
.tti {
	float: left ;	
	font-family: sans-serif ;
	font-size: 1.5em ;
	margin-top: 6px ;
	margin-left: 5px ;
	font-weight: bold ;
	margin-bottom: 0 ;
}
.menu1 {
	padding-top: 5px ;
}
.mainrast {
	width: 250px ;
	float: left ;
	padding-left: 18px ;
}
.axefilm {
	width: 132px ;
	height: 200px ;
}
}






