@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2h17z1');
  src:  url('fonts/icomoon.eot?2h17z1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2h17z1') format('truetype'),
    url('fonts/icomoon.woff?2h17z1') format('woff'),
    url('fonts/icomoon.svg?2h17z1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e9da";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
